@model IEnumerable<ArchidesArchitectureWeb.Projekti>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<head>
    <link href="~/Content/projectStyle.css" rel="stylesheet" />
</head>



@foreach (var item in Model)
{
    <div class="col-sm-8 col-md-6 col-lg-4 mt-4">
        <div class="card hovercard">
            <div class="row">        
                    <img src="~/ImagesSlideShow/img2.jpg" width="350px" height="250px" alt="User Photos" />        
                <div class="info">
                    <div class="title">
                        <label class="cols-sm-2 control-label">
                            @Html.DisplayFor(modelItem => item.Titulli)
                        </label>
                    </div>                                                                             
                </div>
            </div>
            <div class="panel-footer">
                @using (Html.BeginForm("Delete", "Projekti", new { id = item.ProjektiID }))
                {
                    <button class="btn-danger" type="button" name="Delete" onclick="return confirm('Are you sure you want to delete project with name: @item.Titulli')">Delete</button>
                }

                @Html.ActionLink("Edit", "Edit", new { id = item.ProjektiID })


                @using (Html.BeginForm("Details", "Projekti", new { id = item.ProjektiID }))
                {
                    <button class="btn-primary" type="submit">Go to Details</button>
                }
            </div>

        </div>
    </div>
}

