<link href="~/Content/about.css" rel="stylesheet" />

 <div class="your-centered-div">
    <video width="700"  controls>
            <source src="~/Logo/videoarchitecture.m4v" />
        Your browser does not support HTML5 video.
    </video>
 </div>






