@Model System.Data.DataTable
@{
    ViewBag.Title = "Roli";
}
<h2>Roli</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>RoliID</th>
        <th>Roli</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>
                <a href="@Url.Action("Edit","Roli",new {@id=Model.Rows[i][0] })">Edit</a>
            </td>
        </tr>
        
    }
</table>

<a href="@Url.Action("Create","Roli")">Shto Role</a>